/*declaration of action*/
@keyframes fadeout{ /* 1s */
	0% {
		opacity: 1;
		position: absolute;
		top: 20%;
	}
	100% {
		opacity: 0;
		position: absolute;
		top: 10%;		
		height: 0px;
	}
}

@-webkit-keyframes fadeout{ /* 1s */
	0% {
		opacity: 1;
		position: absolute;
		top: 20%;
	}
	100% {
		opacity: 0;
		position: absolute;
		top: 10%;		
		height: 0px;
	}
}

@keyframes fadeout1{ /* 1s */
	0% {
		opacity: 1;
		position: absolute;
		top: 40%;
	}
	100% {
		opacity: 0;
		position: absolute;
		top: 30%;
		height: 0px;
	}
}

@-webkit-keyframes fadeout1{ /* 1s */
	0% {
		opacity: 1;
		position: absolute;
		top: 40%;
	}
	100% {
		opacity: 0;
		position: absolute;
		top: 30%;
		height: 0px;
	}
}

@keyframes floatin{ /* 2s */
	0% {
		opacity: 0;
		position: absolute;
		top: 25%;
	}
	100% {
		opacity: 1;
		position: absolute;
		top: 20%;
	}
}

@-webkit-keyframes floatin{ /* 2s */
	0% {
		opacity: 0;
		position: absolute;
		top: 25%;
	}
	100% {
		opacity: 1;
		position: absolute;
		top: 20%;
	}
}

/*end of declaration*/
div.fadeout{
	width: 100%;
	float: left;
	height: auto;
	animation-name: fadeout;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-fill-mode: both;
	/*Chrome and Safari*/
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: both;
}

div.fadeout1{
	text-align: center;
	animation-name: fadeout1;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-play-state: running;
	animation-delay: 0s;
	animation-fill-mode: both;
	/*Chrome and Safari*/
	-webkit-animation-name: fadeout1;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: both;
}

div.floatin{
	width: 100%;
	height: auto;
	float: left;
	position: absolute;
	top: 25%;
	animation-name: floatin;
	animation-delay: 1.45s;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-play-state: running;
	animation-fill-mode: both;
	/* Chrome Safari */
	-webkit-animation-name: floatin;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 1.45s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: both;
}