div.display{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	margin:auto;
	height: auto;
	float: left;
}
div.display img{
	width:100%;
	height: 100%;
}

div.notdisplay{
	margin-top: 20%;
	display: none;
	width: 100%;
	height: auto;
	float:left;
}

div.head{
	position: absolute;
	top: 40%;
	text-align: center;
}

body{
	width: 100%;
    height: auto;
    margin: 0;
	overflow: hidden;
	display:block;
	background-image: url(img/1.jpg); 
	background-position: 0% 5%;
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment: fixed;
}

body:before {
  	content: ' ';
 	position: fixed;
  	z-index: -1;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
	/* background-image: url(img/1.jpg); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; */
}

p.title{
	margin-left: 8%;
	width: 84%;
	word-break: break-all;
	font-size: 25px;
}
p.answer{
	font-size: 20px; 
	margin: 8%; 
	word-break: break-all;
}
@font-face
{
	font-family: myfont;
	src: url('STLiti.ttf');
}
@font-face
{
	font-family: english;
	src: url('Ariandi.ttf');
}