div.display{
	position: absolute;
	top: 10%;
	width: 100%;
	height: auto;
	float: left;
}

div.notdisplay{
	margin-top: 20%;
	display: none;
	width: 100%;
	height: auto;
	float:left;
}

div.head{
	position: absolute;
	top: 30%;
	text-align: center;
}

body{
	width: 100%;
    height: auto;
    margin: 0;
	overflow: hidden;
	display:block;
	background-image: url(img/1.jpg); 
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment: fixed;
}
p.title{
	margin-left: 8%;
	width: 84%;
	word-break: break-all;
	font-size: 65px;
}
p.answer{
	font-size: 55px; 
	margin: 8%; 
	word-break: break-all;
}
@font-face
{
	font-family: myfont;
	src: url('STLiti.ttf');
}
@font-face
{
	font-family: english;
	src: url('Ariandi.ttf');
}